@using Gms.Domain
@model Gms.Domain.Medicine
@{
    Layout = "~/Views/Shared/EmptyLayout.cshtml";
}

<body>

    <div id="toolbar" style="padding: 5px; height: auto">
        <div style="margin-bottom: 5px">
            <a href="#" class="easyui-linkbutton add" forgid="medicine_search_list" iconcls="icon-add" plain="true">添加</a>
            <a href="#" class="easyui-linkbutton del" forgid="medicine_search_list" iconcls="icon-remove" plain="true">删除</a>
            <a href="#" class="easyui-linkbutton edit" forgid="medicine_search_list" iconcls="icon-edit" plain="true">修改</a>
        </div>
        <div>
            &emsp;药物类型：@Html.DropDownListForCommonCode(c=>c.MedicineType,CommonCodeType.药品类别,"MedicineTypeId","全部")
            &emsp;常用名：<input name="NormalName" class="messager-input" style="width: 80px" />
            &emsp;简拼：<input name="PinYin" class="messager-input" style="width: 80px" />
            &emsp;推荐<select name="Recommend">
                  <option value="">全部</option>
                  <option value="0">否</option>
                  <option value="1">是</option>
              </select>
            <a href="#" id="medicine_search" class="easyui-linkbutton search" iconcls="icon-search">搜索</a>
        </div>
    </div>
     
    <table id="medicine_search_list" url="@Url.Action("List","Medicine")" edit="@Url.Action("Get","Medicine")" del="@Url.Action("Delete","Medicine")">
            
    </table>
        
    <div id="medicine_search_edit" dlgtitle="药品信息" style="display: none">
        <div id="medicine_search_edit_content">
            @{
                Html.RenderPartial("Edit", new Medicine());
            }
        </div>
    </div>
    
     @*记录选择的项目，便于其他页面调用*@
    <div style="display: none;">
        <input id="medicine_selected_Id" />
        <input id="medicine_selected_Name" />
    </div>
    
</body>
<script type="text/javascript" src="@Url.Content("/Scripts/Medicine/Medicine.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        Medicine.Init();
    });

</script>


