

@{
    Layout = "~/Views/Shared/EmptyLayout.cshtml";
}

<body>

    <div align="center" style="margin-top: 50px;">
        <div class="easyui-panel" style="width: 400px; height: 260px; padding: 10px; background: #fafafa;">
            <div style="margin-top: 10px;margin-bottom: 10px; border-bottom: 1px dotted black;">
                <p>修改当前用户登录密码</p>
            </div>
            
                <table>
                    <tr>
                        <td>原密码</td>
                        <td>
                            <input type="password" id="oldPsw" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td>新密码：</td>
                        <td>
                            <input type="password" id="newPsw1" type="text">
                        </td>
                    </tr>
                    
                    <tr>
                        <td>确认新密码：</td>
                        <td>
                            <input type="password" id="newPsw2" type="text">
                        </td>
                    </tr>
                    
                </table>

            <div style="padding-top: 10px; margin-top: 10px; text-align: right; border-top: 2px solid brown">
                <a id="btnSave" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'">确认</a>
            </div>
        </div>
    </div>
    
</body>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSave").click(function() {

            var old = $("#oldPsw").val();
            var new1 = $("#newPsw1").val();
            var new2 = $("#newPsw2").val();

            if (new1 != new2) {
                alert("两次输入的新密码不一致！");
            }

            $.post("/Doctor/ChangePsw", {
                oldpsw: old,
                newpsw: new1
            }, function (data) {
                if (data.success) {
                    $.messager.alert("提示","密码修改成功！","warning");
                } else {
                    $.messager.alert('错误', '密码修改失败：' + data.data, 'error');
                }
            }, 'json');
        });
    });
</script>
