@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>糖尿病分阶段达标管理系统---更新记录</title>
    </head>
    <body>
        <div align="center" style="font-weight: bold;font-size: x-large;">
            更新记录
        </div>
        <p>
            2015年4月16日 Ver1.0.1.0
            发布试用版。
        </p>
        <p>
            2015年5月20日 Ver1.0.2.0
            增加系统登录日志；
            去掉新增用户时，在添加成功后弹出的异常提示框；
            修改数据字典在IE内核浏览器不能正常显示的BUG；
            修改复诊、调整等记录删除时，右侧详细信息没有清空的问题；
            增加复诊、调整等记录添加时，能够手动录入记录名称；
            增加复诊、调整等记录能够修改记录名称；
            复诊、调整等随访记录删除时，增加二次确认；
            修改了推荐药品分类在诊疗方案中显示重复的问题。

        </p>
        
        <p>
            2015年9月1日 Ver1.0.3.0
            修改曲线指标，在有空值时显示不正常的问题；（解决方法：过滤掉了所有的空值。）
        </p>
        <p>
            2015年9月8日 Ver1.0.4.0；
            增加数据统计分析（指标检查分析、管理尽责度）；
            完善患者随访状态更新的问题。
        </p>

    </body>
</html>