@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>糖尿病分阶段达标管理系统</title>
    </head>
    <body>
        
        <div style="background:url('@Url.Content("../Content/img/welcome.png")') no-repeat center center; width: 1100px;height: 700px;">
            
        </div>

    </body>
</html>